<!-- sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/"><img src="/img/logo.png" width="80" height="80"></a>
        <p style="display: inline; padding-left: 15px; font-size: 27px; color: white;" class="titleFont">PawDopt®</p>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="/vision" aria-expanded="false">
                <!-- <i class="fa-solid fa-bolt" style="color: black;"></i> -->
                <span class="navFont">Vision</span>
            </a>
        </li>
        <li class="active">
            <a href="/history" aria-expanded="false">
                <!-- <i class="fa-solid fa-landmark-dome" style="color: black;"></i> -->
                <span class="navFont">History</span>
            </a>
        </li>
        <li class="active">
            <a href="/volunteer" aria-expanded="false">
                <!-- <i class="fa-solid fa-handshake" style="color:black;"></i> -->
                <span class="navFont">Volunteer</span>
            </a>
        </li>
        <li class="active">
            <a href="/adopt" aria-expanded="false">
                <!-- <i class="fa-solid fa-cat" style="color:black;"></i> -->
                <span class="navFont">Adoption</span>
            </a>
        </li>
        <li class="active">
            <a href="/donate" aria-expanded="false">
                <!-- <i class="fa-solid fa-hands-holding-dollar" style="color:black;"></i> -->
                <span class="navFont">Donation</span>
            </a>
        </li>
        <li class="active">
            <a href="/foster" aria-expanded="false">
                <!-- <i class="fa-solid fa-paw" style="color: black;"></i> -->
                <span class="navFont">Foster an Animal</span>
            </a>
        </li>
        <li class="active">
            <a href="/rescue" aria-expanded="false">
                <!-- <i class="fa-solid fa-shield-dog" style="color: black;"></i> -->
                <span class="navFont">Animal Rescue</span>
            </a>
        </li>
        <li class="active">
            <a href="/resources" aria-expanded="false">
                <!-- <i class="fa-duotone fa-bone" style="color: black;"></i> -->
                <span class="navFont">Resources</span>
            </a>
        </li>
        <li class="active">
            <a href="/vaccine" aria-expanded="false">
                <!-- <i  class="fa-solid fa-syringe" style="color: black;"></i> -->
                <span class="navFont">Vaccination Slots</span>
            </a>
        </li>
    </ul>

</nav>
<!-- end of sidebar  -->
